@font-face {
	font-family: 'Gill Sans Nova Cond XBd';
	src: url('GillSansNova-CondXBd.woff2') format('woff2'),
		url('GillSansNova-CondXBd.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aptos';
	src: url('Aptos-Bold.woff2') format('woff2'),
		url('Aptos-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aptos';
	src: url('Aptos-ExtraBold.woff2') format('woff2'),
		url('Aptos-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aptos';
	src: url('Aptos-SemiBold.woff2') format('woff2'),
		url('Aptos-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aptos';
	src: url('Aptos-Light.woff2') format('woff2'),
		url('Aptos-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aptos';
	src: url('Aptos.woff2') format('woff2'),
		url('Aptos.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aptos';
	src: url('Aptos-Black.woff2') format('woff2'),
		url('Aptos-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}



// color
$dark-gray: #010924; //
$body-color: #010924;
$white: #fff;
$light: #DDDDDD; //
$black: #2F2F31;
$small-black: #333;
$cyan: #F9F9F9; //
$section-bg: #135541; //

$theme-primary-color: #FF8900; //
$body-bg-color: #fff;
$section-bg-color: #F5F5F5; //
$text-color: #606060; //
$text-light-color: #6F6F6F; //
$heading-color: $dark-gray;
$border-color: #222224; //
$border-color-s2: #F1E2CC; //


$base-font: 'Aptos';
$heading-font: 'Gill Sans Nova Cond XBd';


html {
	font-size: 16px;
}

:root {
	scroll-behavior: unset;
}

body {
	font-family: $base-font;
	color: $body-color;
	background-color: $white;
	font-size: 20px;
	overflow-x: hidden;
	margin: 0;

	@media(max-width:767px) {
		font-size: 16px;
	}
}

p {
	font-size: 20px;
	color: $body-color;
	line-height: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-family: $heading-font;
	font-weight: 900;
}

ul {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	transition: all .3s;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.h-hidden {
	display: none;
}

.wow {
	visibility: hidden;
}

.sr-only {
	display: none !important;
	opacity: 0;
	visibility: hidden;
}

.section-padding {
	padding: 120px 0px;

	@media (max-width: 991px) {
		padding: 90px 0;
	}

	@media (max-width: 767px) {
		padding: 80px 0;
	}
}

.page-wrapper {
	position: relative;
	overflow: hidden;
}

.title {
	text-align: center;
	position: relative;
	top: -20px;

	@media (max-width: 575px) {
		top: -10px;
	}

	h2 {
		display: inline-block;
		padding: 5px 20px;
		border-radius: 5px;
		background: #0d0d0d;
		color: $white;

		@media (max-width: 575px) {
			font-size: 15px;
		}
	}
}

/*** back to top **/
.back-to-top {
	background-color: transparentize($theme-primary-color, 0.3);
	width: 45px;
	height: 45px;
	line-height: 45px;
	border: 2px solid $theme-primary-color;
	border-radius: 45px;
	text-align: center;
	display: none;
	position: fixed;
	z-index: 999;
	right: 15px;
	bottom: 15px;
	transition: all .3s;

	@media(max-width:991px) {
		width: 35px;
		height: 35px;
		line-height: 35px;
	}

	&:hover {
		background-color: $theme-primary-color;
	}
}

.back-to-top i {
	font-size: 18px;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


.preloader {
	background-color: #0b3226;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999;
	overflow: hidden;

	img {
		max-width: 80px;
	}

	.vertical-centered-box {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.vertical-centered-box:after {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.vertical-centered-box .content {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		font-size: 0;
	}

	* {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.loader-circle {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		margin-left: -60px;
		margin-top: -60px;
	}

	.loader-line-mask {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 60px;
		height: 120px;
		margin-left: -60px;
		margin-top: -60px;
		overflow: hidden;
		-webkit-transform-origin: 60px 60px;
		-moz-transform-origin: 60px 60px;
		-ms-transform-origin: 60px 60px;
		-o-transform-origin: 60px 60px;
		transform-origin: 60px 60px;
		-webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
		-webkit-animation: rotate 1.2s infinite linear;
		-moz-animation: rotate 1.2s infinite linear;
		-o-animation: rotate 1.2s infinite linear;
		animation: rotate 1.2s infinite linear;
	}

	.loader-line-mask .loader-line {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	}

	#particles-background,
	#particles-foreground {
		left: -51%;
		top: -51%;
		width: 202%;
		height: 202%;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		-moz-transform: scale3d(0.5, 0.5, 1);
		-ms-transform: scale3d(0.5, 0.5, 1);
		-o-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}

	#particles-background {
		background: #2c2d44;
		background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
		background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
		background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
	}

	lesshat-selector {
		-lh-property: 0;
	}

	@-webkit-keyframes rotate {
		0% {
			-webkit-transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@-moz-keyframes rotate {
		0% {
			-moz-transform: rotate(0deg);
		}

		100% {
			-moz-transform: rotate(360deg);
		}
	}

	@-o-keyframes rotate {
		0% {
			-o-transform: rotate(0deg);
		}

		100% {
			-o-transform: rotate(360deg);
		}
	}

	@keyframes rotate {
		0% {
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	[not-existing] {
		zoom: 1;
	}

	lesshat-selector {
		-lh-property: 0;
	}

	@-webkit-keyframes fade {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0.25;
		}
	}

	@-moz-keyframes fade {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0.25;
		}
	}

	@-o-keyframes fade {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0.25;
		}
	}

	@keyframes fade {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0.25;
		}
	}

	[not-existing] {
		zoom: 1;
	}

	lesshat-selector {
		-lh-property: 0;
	}

	@-webkit-keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-moz-keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-o-keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	[not-existing] {
		zoom: 1;
	}
}

.theme-btn,
.theme-btn-2,
.theme-btn-4 {
	background: $theme-primary-color;
	color: $dark-gray;
	display: inline-block;
	font-weight: 500;
	padding: 12px 45px;
	border: 0;
	z-index: 11;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: -0.456px;
	border: 0;
	position: relative;
	overflow: hidden;
	transition: all .3s;
	border-radius: 5px;
	text-transform: uppercase;

	&::before {
		position: absolute;
		content: "";
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: $theme-primary-color;
		transform-origin: 50%;
		transition-property: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
		transition: 0.5s;
		z-index: -1;
	}


	&:hover,
	&:focus,
	&:active {
		background-color: #073225;
		color: $white;

		&:before {
			transform: scaleX(0);
		}
	}

	@media(max-width:991px) {
		font-size: 18px;
	}

	@media(max-width:767px) {
		padding: 15px 22px;
		font-size: 14px;
	}
}


/* 2.2 navigation */


.site-header {
	/* navigation open and close btn hide for width screen */
	/* style for navigation less than 992px */
	/*navbar collaps less then 992px*/
	/*** cart-search-contact ***/
	z-index: 11;
}

.site-header .navigation {
	background-color: $white;
	margin-bottom: 0;
	padding: 0;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}

.site-header {
	&.header-style-1 {
		position: relative;
		left: 0;
		width: 100%;
	}

	&.header-fixed {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 55;
		box-shadow: 0 5px 14.25px 0.75px rgba(12, 105, 184, 0.1);
	}
}

.site-header .navigation>.container {
	position: relative;
}


.site-header {
	.row {
		width: 100%;
	}
}



.site-header #navbar {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.site-header #navbar>ul>li a {
	&:before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		height: 1.7px;
		content: "";
		background: $theme-primary-color;
		opacity: 0;
		visibility: hidden;
		transition: all .3s;
		width: 0;
	}
}

.site-header #navbar>ul li a:hover,
.site-header #navbar>ul li a.active,
.site-header #navbar>ul li a:focus {
	text-decoration: none;
	color: $theme-primary-color;

	&:before {
		opacity: 1;
		visibility: visible;
		width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.site-header #navbar {
		/*** hover effect ***/
		justify-content: center;
	}

	.site-header #navbar li {
		position: relative;
	}

	.site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a {
		position: relative;
	}

	.site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a:before {
		font-family: "themify";
		content: "\e649";
		font-size: 11px;
		font-size: 0.73333rem;
		position: absolute;
		right: 15px;
		top: 58%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.site-header #navbar>ul>li:hover>.sub-menu {
		top: 100%;
		visibility: visible;
		opacity: 1;
	}

	.site-header #navbar .sub-menu>li:hover>.sub-menu {
		left: 100%;
		visibility: visible;
		opacity: 1;
	}
}

.site-header .container-fluid {
	padding-right: 0;
}

@media (max-width: 991px) {
	.site-header {
		/* class for show hide navigation */
	}

	.site-header .container {
		width: 100%;
		max-width: 100%;
	}

	.site-header .navbar-header button span {
		background-color: #fff;
		width: 20px;
		display: block;
		height: 2px;
		margin-bottom: 5px;
	}

	.site-header .navbar-header button span:last-child {
		margin: 0;
	}
}

.site-header #navbar {
	ul {
		list-style: none;
	}
}

@media (max-width: 991px) and (max-width: 991px) {
	.site-header #navbar {
		top: 0;
		visibility: visible;
		opacity: 1;
	}
}

@media (max-width: 991px) {
	.site-header #navbar>ul {
		z-index: 101;
	}

	.site-header #navbar ul a {
		color: #000;
	}

	.site-header #navbar ul a:hover,
	.site-header #navbar ul li.current a {
		color: $theme-primary-color;
	}

	.site-header #navbar .close-navbar .ti-close {
		position: relative;
		top: 1px;
	}

	.site-header .navbar-toggler .first-angle,
	.site-header .navbar-toggler .last-angle {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}

	.site-header .x-close .middle-angle {
		opacity: 0;
	}

	.site-header .x-close .first-angle {
		position: absolute;
		-webkit-transform: rotate(-44deg);
		top: 16px;
		left: 10px;
	}

	.site-header .x-close .last-angle {
		-webkit-transform: rotate(44deg);
		position: absolute;
		top: 16px;
		right: 10px;
	}
}

@media (max-width: 767px) {
	.site-header .navbar-header .navbar-brand {
		font-size: 24px;
	}

	.site-header #navbar .navbar-nav {
		margin: 0;
	}
}

@media (max-width: 991px) {
	.site-header .navbar-collapse.collapse {
		display: none;
	}

	.site-header .navbar-collapse.collapse.in {
		display: block;
	}

	.site-header .navbar-header .collapse,
	.site-header .navbar-toggle {
		display: block;
	}

	.site-header .navbar-header {
		float: none;
		position: relative;
		z-index: 99;
	}

	.site-header .navbar-right {
		float: none;
	}

	.site-header .navbar-nav {
		float: none;
	}

	.site-header .navbar-nav>li {
		float: none;
	}
}

.site-header {

	.navbar-nav {
		align-items: flex-end;
	}

	.navigation {
		background-color: $white;
		margin-bottom: 0;
		padding: 0;
		border: 0;

		>.container {
			position: relative;
		}

		@media(max-width:991px) {
			padding: 20px 0;
		}
	}

	#navbar {
		transition: all .3s;

		>ul li a:hover,
		>ul li a:focus {
			text-decoration: none;
		}

		// style for widther screen
		@media(min-width:992px) {

			>ul>li>a {
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%;
				letter-spacing: -0.503px;
				text-transform: uppercase;
				display: block;
				position: relative;
				color: $dark-gray;
			}

			li {
				position: relative;
				padding: 35px 30px;

				&:last-child {
					padding-right: 0;
				}

				&.middle-logo {
					padding: 0;
					padding-bottom: 20px;

					img {
						max-width: 180px;
					}

					a {
						&:before {
							display: none;
						}
					}
				}
			}

			ul>li.menu-item-has-children {
				position: relative;

				&:before {
					position: absolute;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
					content: "\e64b";
					font-family: "themify";
					color: $white;
					font-size: 12px;

					@media(max-width: 1300px) {
						display: none;
					}
				}
			}

			>ul .sub-menu {
				background-color: #0a0a0a;
				box-shadow: 0px 2px 20px 0px rgba(62, 65, 159, 0.09);
				width: 200px;
				position: absolute;
				padding: 20px 0;
				left: 0;
				top: 110%;
				z-index: 10;
				visibility: hidden;
				opacity: 0;
				transition: all .3s;
			}

			>ul>li .sub-menu a {
				font-size: 12px;
				display: block;
				padding: 10px 20px;
				color: $white;
				position: relative;
				overflow: hidden;
				font-weight: 400;

				&::before {
					display: none;
				}

				&:hover,
				&.active {
					font-weight: 700;
					color: $theme-primary-color;
				}
			}

			>ul>li>.sub-menu .sub-menu {
				left: 110%;
				top: 0;
			}

			>ul>li>.sub-menu>.menu-item-has-children>a {
				position: relative;

				&:before {
					font-family: "themify";
					content: "\e649";
					font-size: 11px;
					position: absolute;
					right: 15px;
					top: 50%;
				}
			}

			/*** hover effect ***/
			>ul>li:hover>.sub-menu {
				top: 100%;
				visibility: visible;
				opacity: 1;
			}

			.sub-menu>li:hover>.sub-menu {
				left: 100%;
				visibility: visible;
				opacity: 1;
			}
		}

		@media(max-width:991px) {

			>ul>li a {
				display: block;
				font-size: 15px;
				color: $white;
				font-weight: 700;

				&:hover,
				&.active {
					color: $white;
				}
			}

			>ul .sub-menu>li:last-child {
				border-bottom: 0;
			}

			>ul>li>.sub-menu a {
				padding: 8px 15px 8px 45px;
			}

			>ul>li>.sub-menu .sub-menu a {
				padding: 8px 15px 8px 65px;
			}

			>ul .menu-item-has-children>a {
				position: relative;
				color: #ddd;

				&:hover,
				&.active {
					color: #fff;
				}

				&:before {
					font-family: "themify";
					content: "\e649";
					font-size: 11px;
					position: absolute;
					right: 30px;
					top: 50%;
					transition: all .3s;
				}

				&.rotate {
					&:before {
						transform: rotate(90deg);
						top: 29%;
					}
				}

				&.rotate {
					color: #fff;
				}
			}
		}
	}

	/* navigation open and close btn hide for width screen */
	@media(min-width:992px) {
		.navbar-header .open-btn {
			display: none;
		}

		#navbar .close-navbar {
			display: none;
		}
	}

	.menu-close {
		display: none;
	}

	.middle-logo {

		@media(max-width:991px) {
			display: none;
		}
	}


	/* style for navigation less than 992px */
	@media(max-width:991px) {
		.container {
			width: 100%;
		}

		.mobail-menu {
			text-align: right;
		}

		.mobail-menu button {
			background-color: $theme-primary-color;
			width: 40px;
			height: 35px;
			border: 0;
			padding: 5px 10px;
			outline: 0;
			position: relative;
			z-index: 20;

			&:focus {
				outline: none;
				box-shadow: none;
			}


			span {
				background-color: $white;
				width: 20px;
				display: block;
				height: 2px;
				margin-bottom: 5px;

				&:last-child {
					margin: 0;
				}
			}
		}

		#navbar {
			background: #093c2d;
			display: block !important;
			width: 300px;
			height: 100vh;
			margin: 0;
			padding: 0;
			border: 0;
			position: fixed;
			left: -320px;
			top: 0px;
			z-index: 999999;
			opacity: 0;
			visibility: hidden;

			.navbar-nav {
				display: block;
			}

			>ul {
				position: relative;
				z-index: 101;
				border-top: 1px solid rgba(255, 255, 255, 0.2);
			}

			ul a {
				color: $black;
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);
				text-transform: uppercase;
			}

			ul a:hover,
			ul li.current a {
				color: $theme-primary-color;
			}

			.navbar-nav {
				height: 100%;
				overflow: auto;
				padding-bottom: 60px;
			}

			.close-navbar {
				background-color: $white;
				width: 40px;
				height: 40px;
				color: $black;
				border: 0;
				outline: none;
				position: absolute;
				left: -41px;
				top: 90px;
				z-index: 20;

				.ti-close {
					position: relative;
					top: 1px;
				}
			}


		}

		.menu-close {
			display: block;
			z-index: 99;
			background: none;
			text-align: center;
			color: $white;
			border: 0;
			text-align: center;
			margin-left: auto;
			margin-top: 30px;
			margin-right: 30px;
			margin-bottom: 30px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border: 1px solid $white;
		}

		/* class for show hide navigation */
		.slideInn {
			left: 0 !important;
			opacity: 1 !important;
			visibility: visible !important;
		}

		.navbar-toggler .first-angle,
		.navbar-toggler .last-angle {
			transition: all .3s;
		}

		.x-close .middle-angle {
			opacity: 0;
		}

		.x-close .first-angle {
			position: absolute;
			-webkit-transform: rotate(-44deg);
			top: 16px;
			left: 10px;
		}

		.x-close .last-angle {
			-webkit-transform: rotate(44deg);
			position: absolute;
			top: 16px;
			right: 10px;
		}
	}

	@media (max-width:767px) {
		.navbar-header .navbar-brand {
			font-size: 24px;
		}

		#navbar .navbar-nav {
			margin: 0;
		}
	}

	.navbar-header .navbar-brand {
		img {
			max-width: 170px;
		}
	}


	/*navbar collaps less then 992px*/
	@media (max-width:991px) {
		.navbar-collapse.collapse {
			display: none;
		}

		.navbar-collapse.collapse.in {
			display: block;
		}

		.navbar-header .collapse,
		.navbar-toggle {
			display: block;
		}

		.navbar-header {
			float: none;
		}

		.navbar-right {
			float: none;
		}

		.navbar-nav {
			float: none;
		}

		.navbar-nav>li {
			float: none;
		}
	}


}




@media(max-width: 991px) {
	.site-header .navbar-header .navbar-brand {
		img {
			max-width: 80px;
		}
	}
}

@media(max-width: 370px) {
	.site-header .navbar-header .navbar-brand {
		img {
			max-width: 80px;
		}
	}
}


@media(max-width: 1500px) {
	.site-header #navbar>ul>li {
		padding: 17px 25px;
	}

}

@media(max-width: 1400px) {
	.site-header #navbar>ul>li {
		padding: 17px 25px;
	}

}

@media(max-width: 1300px) {
	.site-header #navbar>ul>li {
		padding: 17px 10px;
	}
}

@media(max-width: 1200px) {
	.site-header #navbar>ul>li {
		padding: 17px 12px;
		font-size: 14px;
	}
}

@media(max-width: 991px) {
	.site-header #navbar>ul>li {
		font-size: 15px;
		padding: 0;
	}
}


@media(max-width:991px) {
	.site-header #navbar>ul>li>a {
		padding: 15px 30px;
	}
}

@media(max-width:991px) {

	.site-header,
	.header-style-2 {
		z-index: 99999;
	}
}

.site-header .navigation.sticky-header {
	padding: 0 130px;
}

@media(max-width:1700px) {
	.site-header .navigation.sticky-header {
		padding: 0 50px;
	}
}

@media(max-width:1400px) {
	.site-header .navigation.sticky-header {
		padding: 0 20px;
	}
}

@media(max-width:991px) {
	.site-header .navigation.sticky-header {
		padding: 20px;
	}
}

@media(max-width:575px) {
	.site-header .navigation.sticky-header {
		padding: 20px 10px;
	}
}

// comming-soon-area

.comming-soon-area {
	background: $section-bg;
	height: 100vh;
	min-height: 600px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
	z-index: 1;

	@media(max-width:575px) {
		min-height: 400px;
	}



	h1 {
		margin: 0;
		font-size: 250px;
		color: $white;
		font-family: $heading-font;
		text-transform: uppercase;
		line-height: 200px;
		position: relative;

		@media(max-width:991px) {
			font-size: 150px;
			line-height: 150px;
		}

		@media(max-width:767px) {
			font-size: 120px;
			line-height: 120px;
		}

		@media(max-width:575px) {
			font-size: 92px;
			line-height: 95px;
		}

		@media(max-width:440px) {
			font-size: 65px;
			line-height: 60px;
		}

		.shape1 {
			position: absolute;
			left: -95px;
			top: -125px;
			animation: zoom-in-zoom-out 4s ease-in infinite;

			@media(max-width:767px) {
				left: -64px;
				top: -64px;
			}

			@media(max-width:440px) {
				left: -45px;
				top: -45px;
			}

			img {
				@media(max-width:767px) {
					max-width: 120px;
				}

				@media(max-width:440px) {
					max-width: 80px;
				}
			}
		}
	}

	h2 {
		margin: 0;
		font-size: 140px;
		color: $white;
		font-family: $heading-font;
		text-transform: uppercase;

		@media(max-width:991px) {
			font-size: 90px;
			line-height: 90px;
		}

		@media(max-width:767px) {
			font-size: 70px;
			line-height: 70px;
		}

		@media(max-width:575px) {
			font-size: 50px;
			line-height: 50px;
		}

		@media(max-width:440px) {
			font-size: 35px;
			line-height: 35px;
		}


	}

	h3 {
		margin: 0;
		font-size: 90px;
		color: $theme-primary-color;
		font-family: $heading-font;
		text-transform: uppercase;
		display: flex;
		align-items: center;

		@media(max-width:991px) {
			font-size: 60px;
			line-height: 60px;
		}

		@media(max-width:767px) {
			font-size: 50px;
			line-height: 50px;
		}

		@media(max-width:575px) {
			font-size: 35px;
			line-height: 35px;
		}

		@media(max-width:440px) {
			font-size: 25px;
			line-height: 25px;
		}

		.shape2 {
			position: relative;
			top: 20px;
			padding-left: 15px;
			animation: zoom-in-zoom-out 4s ease-in infinite;

			img {
				@media(max-width:575px) {
					max-width: 60px;
				}

				@media(max-width:440px) {
					max-width: 40px;
				}
			}
		}
	}

	.right-shape {
		position: absolute;
		right: 0;
		top: 80px;
		z-index: -1;

		img {
			animation: leafAniamtion 8s ease-in infinite;

			@media(max-width:767px) {
				max-width: 130px;
			}
		}
	}
}

@keyframes zoom-in-zoom-out {
	0% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	50% {
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}

	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@-webkit-keyframes kenburn {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	to {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
}

@keyframes leafAniamtion {

	0%,
	100% {
		transform: rotate(0deg) translateX(0);
	}

	50% {
		transform: rotate(5deg) translateX(20px);
	}
}


@-webkit-keyframes zoom-in-zoom-out {
	0% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	50% {
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}

	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

// hero-area

.hero-area {
	background: $section-bg;
	position: relative;
	overflow: hidden;
	z-index: 1;
	padding: 120px 0;
	padding-top: 180px;

	@media(max-width:767px) {
		padding-top: 120px;
	}

	@media(max-width:575px) {
		padding-bottom: 80px;
	}

	.hero-text {
		@media(max-width:767px) {
			max-width: 400px;
			margin: 0 auto;
		}

		@media(max-width:575px) {
			max-width: 300px;
			margin: 0 auto;
		}

		@media(max-width:440px) {
			max-width: 220px;
			margin: 0 auto;
		}
	}

	h1 {
		margin: 0;
		font-size: 180px;
		color: $white;
		font-family: $heading-font;
		text-transform: uppercase;
		line-height: 180px;
		position: relative;

		@media(max-width:991px) {
			font-size: 100px;
			line-height: 100px;
		}

		@media(max-width:767px) {
			font-size: 80px;
			line-height: 80px;
		}

		@media(max-width:575px) {
			font-size: 60px;
			line-height: 65px;
		}

		@media(max-width:440px) {
			font-size: 55px;
			line-height: 55px;
		}

		.shape1 {
			position: absolute;
			left: -95px;
			top: -125px;
			animation: zoom-in-zoom-out 4s ease-in infinite;

			@media(max-width:767px) {
				left: -64px;
				top: -64px;
			}

			@media(max-width:440px) {
				left: -45px;
				top: -45px;
			}

			img {
				@media(max-width:767px) {
					max-width: 120px;
				}

				@media(max-width:440px) {
					max-width: 80px;
				}
			}
		}
	}

	h2 {
		margin: 0;
		font-size: 100px;
		color: $white;
		font-family: $heading-font;
		text-transform: uppercase;

		@media(max-width:991px) {
			font-size: 90px;
			line-height: 90px;
		}

		@media(max-width:767px) {
			font-size: 70px;
			line-height: 70px;
		}

		@media(max-width:575px) {
			font-size: 50px;
			line-height: 50px;
		}

		@media(max-width:440px) {
			font-size: 35px;
			line-height: 35px;
		}


	}

	h3 {
		margin: 0;
		font-size: 60px;
		color: $theme-primary-color;
		font-family: $heading-font;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		@media(max-width:991px) {
			font-size: 60px;
			line-height: 60px;
		}

		@media(max-width:767px) {
			font-size: 50px;
			line-height: 50px;
		}

		@media(max-width:575px) {
			font-size: 35px;
			line-height: 35px;
		}

		@media(max-width:440px) {
			font-size: 25px;
			line-height: 25px;
		}

		.shape2 {
			position: relative;
			top: 20px;
			padding-left: 15px;
			animation: zoom-in-zoom-out 4s ease-in infinite;

			img {
				@media(max-width:575px) {
					max-width: 60px;
				}

				@media(max-width:440px) {
					max-width: 40px;
				}
			}
		}
	}

	.hero-img {
		position: relative;

		@media(max-width:991px) {
			max-width: 550px;
		}

		.main-img {
			animation: bounce 3s linear infinite;

			img {
				width: 650px;
			}
		}

		.shape1 {
			position: absolute;
			left: 120px;
			top: 50px;

			@media(max-width:575px) {
				left: 40px;
				top: 30px;
			}


			img {
				width: 100px;
			}
		}

		.shape2 {
			position: absolute;
			right: 0;
			top: 50px;

			img {
				width: 100px;
			}
		}
	}

}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0) translateX(0);
		transform: translateY(0) translateX(0)
	}

	50% {
		-webkit-transform: translateY(15px) translateX(7);
		transform: translateY(15px) translateX(7)
	}

	100% {
		-webkit-transform: translateY(0) translateX(0);
		transform: translateY(0) translateX(0)
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(0) translateX(0);
		transform: translateY(0) translateX(0)
	}

	50% {
		-webkit-transform: translateY(15px) translateX(7px);
		transform: translateY(15px) translateX(7px)
	}

	100% {
		-webkit-transform: translateY(0) translateX(0);
		transform: translateY(0) translateX(0)
	}
}

// features-area

.features-area {
	.features-wrap {
		padding: 40px;
		background: $section-bg;
		border-radius: 30px;
		padding-top: 0;
		position: relative;

		.title {
			text-align: center;
			position: relative;
			top: -20px;

			@media (max-width: 575px) {
				top: -10px;
			}

			h2 {
				display: inline-block;
				padding: 5px 20px;
				border-radius: 5px;
				background: #0d0d0d;
				color: $white;

				@media (max-width: 575px) {
					font-size: 15px;
				}
			}
		}

		.features-item {
			text-align: center;

			.features-img {
				margin-bottom: 20px;
				img {
					max-width: 280px;
				}
			}

			.features-text {
				h3 {
					color: $white;

					img {
						max-width: 30px;
						position: relative;
						top: -20px;
						left: 12px;
					}
				}

				p {
					font-family: $heading-font;
					color: $white;
				}
			}
		}

		.left-shape {
			position: absolute;
			left: -40px;
			top: 50%;
			transform: translateY(-50%);

			@media (max-width: 575px) {
				left: -10px;
			}

			img {
				max-width: 100px;
			}
		}

		.right-shape {
			position: absolute;
			right: -40px;
			top: 50%;
			transform: translateY(-50%);

			@media (max-width: 575px) {
				right: -10px;
			}

			img {
				max-width: 100px;
			}
		}
	}
}

// cta-area
.cta-area {
	.cta-img {
		position: relative;
		width: 110%;
		right: 0px;

		@media(max-width:991px) {
			margin-bottom: 50px;
		}

		img {
			width: 100%;
		}

		.theme-btn {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.cta-item {
		@media(max-width:991px) {
			max-width: 550px;
			margin: 0 auto;
		}
	}

	.cta-item-box {
		background: $section-bg;
		padding: 40px;
		padding-top: 0;
		border-radius: 40px;
		margin-bottom: 20px;

		@media(max-width:575px) {
			padding: 20px;
			padding-top: 0;
		}

		.title {
			text-align: center;
			position: relative;
			top: -20px;

			@media (max-width: 575px) {
				top: -10px;
			}

			h3 {
				display: inline-block;
				padding: 5px 20px;
				border-radius: 5px;
				background: #0d0d0d;
				color: $white;

				@media (max-width: 575px) {
					font-size: 15px;
				}
			}
		}

		h2 {
			font-size: 80px;
			color: $white;
			margin-bottom: 0;

			@media(max-width:1199px) {
				font-size: 60px;
			}

			span {
				position: relative;
				top: -50px;
				left: 18px;

				img {
					max-width: 50px;
				}
			}
		}

		h4 {
			font-size: 40px;
			color: $theme-primary-color;
			margin-bottom: 20px;
		}

		ul {
			text-align: center;
			margin-bottom: 20px;

			li {
				font-size: 25px;
				font-weight: 600;
				display: inline-block;
				padding: 3px 20px;
				border-radius: 5px;
				background: #0d0d0d;
				margin-bottom: 20px;
				color: $white;
				padding-left: 40px;
				position: relative;

				@media(max-width:575px) {
					font-size: 20px;
				}

				span {
					position: absolute;
					left: -20px;
					top: -2px;
					display: inline-block;
					width: 50px;
					height: 50px;
					line-height: 50px;
					background: #0d0d0d;
					border-radius: 50%;
					border: 1px solid $white;
				}
			}
		}

		small {
			font-weight: 700;
		}
	}

	.cta-bottom {
		span {
			padding: 2px 3px;
			background: $section-bg;
			border-radius: 3px;
			display: block;
			font-weight: 700;
			font-size: 17px;
			text-align: center;
			color: $white;
		}
	}
}

// social-area

.social-area {
	background: $section-bg;

	.title {
		text-align: center;
		position: relative;
		top: -40px;

		@media (max-width: 575px) {
			top: -10px;
		}

		h3 {
			display: inline-block;
			padding: 5px 70px;
			border-radius: 5px;
			background: #0d0d0d;
			color: $white;
			font-size: 40px;

			@media (max-width: 575px) {
				font-size: 15px;
			}
		}
	}

	.social-wrap {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.social-item {
		margin-bottom: 30px;
		padding: 30px;
		background: $white;

		@media (max-width: 767px) {
			padding: 15px;
		}

		.social-img {
			display: block;
			overflow: hidden;

			img {
				width: 100%;
				transform: scale(1);
				transition: all .3s;
			}
		}

		&:hover {
			.social-img {
				img {
					transform: scale(1.2);
				}
			}
		}
	}

}


// footer-area

.footer-area {

	.footer-wrap {
		position: relative;
		max-width: 900px;
		margin: 0 auto;

		.shape1 {
			position: absolute;
			left: 0;
			bottom: 0;
			animation: leafAniamtion 8s ease-in infinite;

			@media (max-width: 575px) {
				bottom: auto;
				top: 30px;
			}
		}

		.shape2 {
			position: absolute;
			right: 0;
			top: 0;
			animation: leafAniamtion 8s ease-in infinite;

			@media (max-width: 575px) {
				top: 20px;
			}

			img {
				@media (max-width: 575px) {
					max-width: 60%;
				}
			}
		}
	}

	.footer-top {
		padding: 50px 15px;
		text-align: center;

		h3 {
			margin-bottom: 20px;
			color: $section-bg;

			@media (max-width: 575px) {
				font-size: 20px;
			}
		}

		ul {
			display: flex;
			justify-content: center;
			margin-bottom: 50px;

			@media (max-width: 575px) {
				margin-bottom: 30px;
			}

			li {
				margin: 0 10px;

				img {
					max-width: 35px;
				}
			}
		}

		.newslatter-area {
			h4 {
				color: $section-bg;
				margin-bottom: 20px;

				@media (max-width: 575px) {
					font-size: 15px;
				}
			}

			input {
				width: 350px;
				height: 50px;
				padding: 15px;
				border-radius: 5px;
				border: 1px solid $section-bg;

				@media (max-width: 575px) {
					width: 250px;
				}

				@media (max-width: 450px) {
					width: 200px;
				}
			}

			button {
				height: 52px;
				padding: 5px 25px;
				border-radius: 5px;
				background: #0d0d0d;
				color: $white;
				border: 0;
			}
		}
	}

	.footer-bottom {
		background: $section-bg;
		padding: 50px 0;

		ul {
			display: flex;
			justify-content: center;
			margin-bottom: 20px;

			li {
				margin: 0 20px;

				@media (max-width: 575px) {
					margin: 0 6px;
				}

				a {
					color: $white;
					font-weight: 700;
					font-family: $heading-font;

					@media (max-width: 767px) {
						font-size: 15px;
					}


					&:hover {
						color: $theme-primary-color;
					}
				}
			}

			&.paymets {
				margin-top: 10px;
				margin-bottom: 0;

				li {
					margin: 0 10px;
				}
			}
		}
	}
}

// about-area

.about-area {
	border-top: 10px solid #010101;

	.about-wrap {
		background: $section-bg;
		border-radius: 20px;
		padding: 40px;
		padding-top: 0;
		padding-bottom: 120px;
		position: relative;

		@media (max-width: 575px) {
			padding: 15px;
			padding-top: 0;
			padding-bottom: 60px;
		}

		strong {
			font-family: $heading-font;
			text-align: center;
			display: block;
		}

		h3 {
			color: $white;
			margin-top: 10px;
			margin-bottom: 20px;
			text-align: center;
		}

		p {
			color: $white;
		}

		ul {
			margin-bottom: 30px;
			margin-top: 5px;

			li {
				color: $white;
				padding: 3px 0;
				padding-left: 20px;
				position: relative;

				&::before {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					content: "";
					width: 6px;
					height: 6px;
					background: $white;
					border-radius: 50%;
				}
			}
		}

		.shape1 {
			position: absolute;
			right: 30px;
			top: 0;
			animation: leafAniamtion 8s ease-in infinite;

			@media (max-width: 575px) {
				right: 0;

				img {
					max-width: 60%;
				}
			}
		}

		.shape2 {
			position: absolute;
			left: -50px;
			bottom: 0;
			animation: leafAniamtion 8s ease-in infinite;
		}
	}
}

// product-single

.shop-single-section {
	border-top: 10px solid #010101;
	background: $section-bg;

	/*** product slider ***/
	.product-single-img {

		.owl-nav [class*=owl-] {
			position: absolute;
			left: 10px;
			top: 46%;
			transform: translateY(-50%);
			opacity: 0;
			visibility: hidden;
			width: 50px;
			height: 50px;
			background: $section-bg;
			border: 0;
			border-radius: 50%;
			transition: all .3s;
			color: $white;

			&.owl-next {
				left: auto;
				right: 10px;
			}
		}

		.item {
			img {
				border: 1px solid #ebebeb;
			}
		}

		.product-thumbnil-active {
			margin-top: 15px;

			img {
				border: 1px solid #ebebeb;
			}

			.owl-nav {
				display: none;
			}
		}

		.item {
			img {
				border-radius: 10px;
			}
		}

		&:hover {
			.owl-nav [class*=owl-] {
				opacity: 1;
				visibility: visible;
			}
		}
	}


	.product-details {
		padding-left: 20px;
		padding-right: 0;

		@media (max-width:991px) {
			padding-left: 0px;
			padding-top: 30px;
		}

		h2 {
			margin-bottom: 30px;
			color: $white;
		}


		.pro-single-btn {
			max-width: 328px;

			@media (max-width:575px) {
				max-width: 280px;
			}

			h3 {
				text-align: center;
			}

			.quantity {
				top: 0;
				position: relative;
				display: inline-block;
				border: 3px solid #010924;
				border-radius: 5px;
				flex-basis: 20%;
				margin-bottom: 5px;

				@media (max-width:575px) {
					margin-right: 20px;
				}

				&::before {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 100px;
					height: 40px;
					background: #000000;
					content: "";
					color: $white;
				}

				input {
					width: 320px;
					background: transparent;
					padding: 15px 35px;
					text-align: center;
					font-size: 20px;
					font-weight: 400;
					border: none;
					position: relative;
					border: 0;
					color: $white;

					@media (max-width:575px) {
						max-width: 280px;
					}
				}

				.qtybutton {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 20px;
					height: 40px;
					width: 40px;
					text-align: center;
					line-height: 37px;
					font-size: 25px;
					cursor: pointer;
					border: 1px solid #010924;
					border-radius: 50%;
					color: $white;
				}

				.qtybutton.inc {
					right: 20px;
					left: auto;
				}
			}

			span {
				display: block;
				margin-bottom: 30px;
				font-weight: 700;
			}

		}

		.buy-btn {
			.theme-btn {
				padding: 10px 50px;
				width: 100%;
				text-align: center;

				@media(max-width:575px) {
					padding: 15px 20px;
				}
			}
		}

	}
}

.details-note {
	text-align: center;
	padding-top: 15px;
}

// contact-page

.contact-page {
	border-top: 10px solid #010101;
	padding-top: 80px;

	.footer-wrap {
		position: relative;
		max-width: 1800px;
		margin: 0 auto;

		.shape1,
		.shape2 {
			position: relative;
			margin-bottom: 20px;
		}


		.shape1 {
			margin-bottom: 50px;
		}

	}

	.footer-top .newslatter-area input {
		width: 300px;

		@media (max-width: 450px) {
			width: 200px;
		}

		@media (max-width: 575px) {
			width: 250px;
		}
		@media (max-width: 450px) {
			width: 200px;
		}
	}

	.row {
		align-items: center;
	}

	.contact-wrap {
		max-width: 600px;
		margin: 0 auto;

		.contact-title {
			margin-bottom: 60px;

			h2 {
				text-transform: uppercase;
			}
		}

		.form-group {
			margin-bottom: 30px;

			input,
			textarea {
				width: 100%;
				height: 50px;
				padding: 15px;
				border: 1px solid $border-color;
				border-radius: 3px;

				&:focus {
					outline: none;
					border-color: $theme-primary-color;
				}
			}

			textarea {
				height: 130px;
			}
		}
	}

}